extends layout

block content
    div
        p Welcome to schnippets.js.  A status-reportinator that will rule the Tri-State Area!

        p
            a(href="/schnippet") Enter a schnippet!

    div
        p
            = frequency
            = when
            = author

    div
        h3 Tags
        h3 Users
