extends layout

block content
    div
        form(method="POST")
            p Enter your email address

            input(type="text", name="email", placeholder="Enter your email addres", size="40")
            br
            input(type="submit", value="Login")

